@media (min-width: 320px) and (max-width: 426px) {
	#menu-header {
		z-index: 2;
	}

	#menu-header-bar {
		width: 45px;
		height: 40px;
		margin: 30px 0 20px 20px;
		cursor: pointer;
	}

	.menu-header-bar {
		height: 5px;
		width: 100%;
		background-color: var(--brand-color);
		display: block;
		border-radius: 5px;
		transition: 0.3s ease;
	}

	#bar-one {
		transform: translateY(-4px);
	}

	#bar-three {
		transform: translateY(4px);
	}

	.menu-header-nav {
		transition: 0.3s ease;
		display: none;
	}

	.menu-header-nav img {
		width: 60px;
		margin-bottom: 10px;
	}

	.button-menu-header {
		background: var(--blue-brand-color);
		color: var(--white-color);
		font-family: inherit;
		padding: 0.35em;
		padding-left: 1.2em;
		font-size: 14px;
		font-weight: 500;
		border-radius: 0.9em;
		border: none;
		letter-spacing: 0.05em;
		display: flex;
		align-items: center;
		box-shadow: inset 0 0 1.6em -0.6em #714da6;
		overflow: hidden;
		position: relative;
		height: 2.8em;
		padding-right: 3.3em;
		cursor: pointer;
		margin-top: 20px;
	}

	.button-menu-header .icon-button-menu {
		background: var(--light-brand-color);
		margin-left: 1em;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.2em;
		width: 2.2em;
		border-radius: 0.7em;
		box-shadow: 0.1em 0.1em 0.6em 0.2em #714da6;
		right: 0.3em;
		transition: all 0.3s;
	}

	.button-menu-header:hover .icon-button-menu {
		width: calc(100% - 0.6em);
	}

	.button-menu-header .icon-button-menu svg {
		width: 1.1em;
		transition: transform 0.3s;
		color: var(--blue-brand-color);
	}

	.button-menu-header:hover .icon-button-menu svg {
		transform: translateX(0.1em);
	}

	.button-menu-header:active .icon-button-menu {
		transform: scale(0.95);
	}

	.menu-header-nav i {
		color: var(--dark-brand-color);
		font-size: 20px;
		background-color: var(--light-brand-color);
		border-radius: 100%;
		padding: 7px;
	}

	.menu-header-nav ul {
		padding: 0 22px;
	}

	.menu-header-nav li {
		list-style: none;
		padding: 12px 0;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.menu-header-nav li a {
		color: var(--white-color);
		font-size: 17px;
		text-decoration: none;
		transition: all 0.3s;
		font-weight: 600;
		letter-spacing: 1px;
		font-family: 'Silkscreen', sans-serif;
	}

	.menu-header-nav li a:hover {
		color: var(--light-brand-color);
	}

	.menu-header-bg,
	#menu-header {
		top: 0;
		left: 0;
		position: absolute;
	}

	.menu-header-bg {
		z-index: 1;
		width: 0;
		height: 0;
		margin: 30px 0 20px 20px;
		background: radial-gradient(
			circle,
			var(--brand-color),
			var(--brand-hover-color)
		);
		border-radius: 50%;
		transition: 0.3s ease;
	}

	.change-menu-header {
		display: block;
	}

	.change-menu-header .menu-header-bar {
		background-color: var(--white-color);
	}

	.change-menu-header #bar-one {
		transform: translateY(4px) rotateZ(-45deg);
	}

	.change-menu-header #bar-two {
		opacity: 0;
	}

	.change-menu-header #bar-three {
		transform: translateY(-6px) rotateZ(45deg);
	}

	.change-menu-header-bg {
		width: 670px;
		height: 720px;
		transform: translate(-60%, -25%);
	}
}
@media (min-width: 426px) and (max-width: 770px) {
}
@media (min-width: 770px) and (max-width: 1025px) {
}
@media (min-width: 1025px) {
}
